* {
  font-family: monospace;
}

nav {
  padding: 20px;
  border-bottom: 1px solid #cecece;
}

main {
  padding: 20px;
}

small {
  opacity: 0.8;
}

p {
  margin: 0;
}

button,
a {
  display: inline-block;
  margin-right: 8px;
}

.node {
  display: flex;
  align-items: center;
  max-width: 360px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}

.node--active {
  border-color: blue;
}

.node > * {
  margin-right: 8px;
}

.remove-button {
  border: 0;
  background: none;
  color: red;
  width: 30px;
  height: 30px;
  font-size: 24px;
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  background-color: #dedede;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}
